In [10]:
import pandas as pd

In [11]:
df=pd.read_csv('./data/processed_salary_dataset.csv')
print(df.shape)
print(df.head())

(46720, 15)
   age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18     Others  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4             Others    Own-child  White  Female             0             0

   hours-per-week native-country  income
0              40  United-States       0
1              50  United-States       0
2              40  United-States       1
3              40  United-States       1
4              30  United-States       0

In [12]:
categorical_cols = df.select_dtypes(include='object').columns
unique_values = {col: df[col].unique() for col in categorical_cols}
for col, values in unique_values.items():
    print(f"{col}: {values}\n")

workclass: ['Private' 'Local-gov' 'Others' 'Self-emp-not-inc' 'Federal-gov'
 'State-gov' 'Self-emp-inc']

education: ['11th' 'HS-grad' 'Assoc-acdm' 'Some-college' '10th' 'Prof-school'
 'Bachelors' 'Masters' 'Doctorate' 'Assoc-voc' '9th' '12th']

marital-status: ['Never-married' 'Married-civ-spouse' 'Widowed' 'Separated' 'Divorced'
 'Married-spouse-absent' 'Married-AF-spouse']

occupation: ['Machine-op-inspct' 'Farming-fishing' 'Protective-serv' 'Others'
 'Other-service' 'Prof-specialty' 'Adm-clerical' 'Exec-managerial'
 'Tech-support' 'Craft-repair' 'Sales' 'Transport-moving'
 'Priv-house-serv' 'Handlers-cleaners' 'Armed-Forces']

relationship: ['Own-child' 'Husband' 'Not-in-family' 'Unmarried' 'Wife' 'Other-relative']

race: ['Black' 'White' 'Asian-Pac-Islander' 'Other' 'Amer-Indian-Eskimo']

gender: ['Male' 'Female']

native-country: ['United-States' 'Others' 'Peru' 'Mexico' 'Dominican-Republic' 'Ireland'
 'Germany' 'Philippines' 'Thailand' 'Haiti' 'El-Salvador' 'Puerto-Rico'
 'Vietnam' 'South' 'Columbia' 'Japan' 'India' 'Cambodia' 'Poland'
 'England' 'Cuba' 'Taiwan' 'Italy' 'Canada' 'China' 'Nicaragua' 'Honduras'
 'Iran' 'Guatemala' 'Scotland' 'Jamaica' 'Portugal' 'Ecuador' 'Yugoslavia'
 'Hungary' 'Hong' 'Greece' 'Trinadad&Tobago' 'Outlying-US(Guam-USVI-etc)'
 'France' 'Laos' 'Holand-Netherlands']

In [13]:
numerical_cols = [col for col in df.columns if col not in categorical_cols]
print(numerical_cols)

['age', 'fnlwgt', 'educational-num', 'capital-gain', 'capital-loss', 'hours-per-week', 'income']

In [14]:
min_max_values = {col: (df[col].min(), df[col].max()) for col in numerical_cols}
for col, (min_val, max_val) in min_max_values.items():
    print(f"{col}: min={min_val}, max={max_val}")

age: min=17, max=75
fnlwgt: min=12285, max=1490400
educational-num: min=5, max=16
capital-gain: min=0, max=99999
capital-loss: min=0, max=4356
hours-per-week: min=1, max=99
income: min=0, max=1